.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  position: relative;
}

input{
  padding: 6px;
  font-size: 16px;

}

.logButton {
  margin-top: 20px;
  margin-bottom: 40px;

}
.logButton:disabled{
  cursor: not-allowed;
}
.error{
  color: red;
  position: absolute;
  bottom: 0;

}
.p{
  margin-top: 20px;
}