.service{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 50px;
}

.catTitle{
  text-transform: capitalize;
  font-size: 32px;
  margin: 0;
}
.sortContainer{
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sortContainer select {
  padding: 5px;
}

@media screen and (max-width:500px) {
  .service{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
}