.form{
  display: flex;
  gap: 20px;
  position: relative;
}

.price {
  width: 60px;
}

.success{
  color: rgb(51, 203, 13);
  margin-top: 10px;
  position: absolute;
}

.list{
  margin-top: 60px;
}

.listItem{
  display: flex;
  gap: 20px;
}