.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.imgBox{
  display: flex;
  overflow: hidden;
  width: 120px;
}
.imgBox img {
  width: 100%;
  object-fit: cover;
}
.userBlock{
  display: flex;
  gap: 6px;
}
.logoutBtn{
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.logoutBtn:hover{
  color: var(--text-accent);
}