.container{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 40px 0;
}

.imgBox{
  display: flex;
  overflow: hidden;
  width: 100px;
}
.userBlock{
  display: flex;
  gap: 6px;
}
.logoutBtn{
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.logoutBtn:hover{
  color: var(--text-accent);
}