.accContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.item{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.name{
  text-transform: capitalize;
}
.orderItem{
  display: flex;
  gap: 20px;
}