.listItem{
  display: flex;
  gap: 20px;
  margin: 10px 0;
}
.imgBox{
  display: flex;
  width: 40px;
  border-radius: 10px;
  overflow: hidden;

}

.imgBox img{
  display: flex;
  object-fit: cover;
  width: 100%;
}