.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  background: #242424;
  box-shadow:  5px 5px 6px #131313,
              -5px -5px 6px #353535;
  }

  .imgBox{
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 100%; 
  }

  .bold{
    font-weight: 00;
  }

  .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
  }

  .imgBox img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    transition: all 0.3s ease 0s;
  }
  .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 4, 4, 0.659);
    z-index: 2;
    background-image: url(../../assets/icons/lens.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60px;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  .cover:hover{
    opacity: 1;
  }

  .container:hover img.image {
    transform: scale(1.1);
  }

  .service{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .cartBox{
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #A0826F;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
  }
  .cartBox img{
    display: flex;
    object-fit: cover;
    transition: all 0.3s ease 0s;
  }

  .cartBox:hover img{
    animation: shake 0.5s ease-in-out;
  }

  .title{
    margin: 0;
    font-size: 1.2rem;
  }

  .price{
    font-size: 1.8rem;
  }
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }

  @media (prefers-color-scheme: light) {
    .container{
      background: #ffffff;
      box-shadow:  3px 3px 7px #666666,
                  -3px -3px 7px #ffffff;
    }
    .cover{
      background-color: rgba(220, 220, 220, 0.473);
    }
  }